*{
    margin: 0;
    padding: 0;
}

.userSignInPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 213, 213);
}

.userSignInPageBody{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
    margin: 50px 100px 50px 100px;
    background-color: #fff;
}
 
.loginPageImage{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /* background-color: red; */
    background-image: radial-gradient(circle at bottom left,
    red,
    green 70%);
    position: relative;
}

.signInOverly{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.loginPageImage img{
    width: 400px;
    height: 550px;
    z-index: 1;
}

.loginPageForm{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}