*{
    margin: 0;
    padding: 0;
}

.complainBox-section{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.complainBoxCreateButton{
    background-image: url("../../../image/display//coverBG2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    width: 900px;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.complainBoxOverlyColor{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
}

.complainBoxContent{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.textArea{
    color: #fff;
}

.complainBox-displayButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.complainBox-displayButton button{
    border: none;
    background-color: orange;
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.complainBox-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.complainBox-header h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 30px;
}

.modalArea{
    border-radius: 10px;
}

.complainBox-form{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.complainBox-form form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #fff;
}

.complainBox-formInputDiv{
    width: 100%;
    margin-bottom: 20px;
}

.complainBox-gridInputDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.complainBox-fieldGap{
    padding-right: 10px;
}

.complainBox-fileUpload{
    width: 100%;
}

.complainBox-fileUpload input{
    border: none;
}

.complainBox-submit{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.complainBox-submit button{
    background-color: orange;
    border: none;
    padding: 10px 80px;
    cursor: pointer;
}

.modalButton{
    margin-right: 10px;
}
