*{
    margin: 0;
    padding: 0;
}

.header-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    position: fixed;
    z-index: 1;
}

.header-div{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-user h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
}

.header-user span{
    font-size: 16px;
    font-weight: 400;
}

.header-nav button{
    border: none;
    padding: 10px 20px;
    background-color: #F0F0F0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px
}

.header-navButton{
    cursor: pointer;
}

.header-navButton:hover{
    background-color: orange;
    color: #fff;
}

.logoutButton{
    cursor: pointer;
    padding: 10px 50px;
    color: #fff;
    background-color: orange !important;
    font-size: 15px;
}

.logoutButton:hover{
    background-color: rgb(233, 158, 20) !important;
    transition-duration: 1s;
}