*{
    margin: 0;
    padding: 0;
}

.displayComplain-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 0px;
}

.displayComplain-content{
    display: grid;
    grid: auto/auto auto auto;
    gap: 10px;
    margin: 0px 25px;
    margin-bottom: 30px;
}

.paginationButton{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paginationButton button{
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: none;
    color: orange;
    cursor: pointer;
}

.paginationButton p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}